# doxygen generated
html
# unless someone wants to do a submodule here
examples/netblink/lwip
# unfortunately not suitable for submodules
examples/netblink/Gecko_SDK
examples/netblink/Gecko_SDK.zip
# object and binary files
examples/netblink/build
